{% block blog_list_item %}
    {% set postDetailUrl = seoUrl('frontend.blog.post', {'postId': post.id} ) %}
    {% set paramPage = app.request.get('p') ? 'p=' ~app.request.get('p') : '' %}
    {% set paramCategory = app.request.get('c') ? 'c=' ~app.request.get('c') : '' %}
    {% set paramAuthor = app.request.get('a') ? 'a=' ~app.request.get('a') : '' %}
    {% set urlParams = [paramPage, paramCategory, paramAuthor] | filter(p => p != '') | join('&') %}
    {% if false and urlParams %}
        {% set postDetailUrl = postDetailUrl ~ '?' ~ urlParams %}
    {% endif %}

    <div class="d-flex flex-sm-row flex-column mb-3 blog-list-item" style="background-color: {{ element.config.backgroundColor.value }}">
        {% block blog_list_item_wrapper %}
            <div class="pt-3 pb-3 ps-3">
                <a href="{{ postDetailUrl }}">
                    {% block blog_content_post_inner_title %}
                        {% sw_include "@Storefront/storefront/element/blog-title.html.twig" with {
                            titleTag: element.config.titleTag.value|lower, post: post
                        } only
                        %}
                    {% endblock %}
                </a>

                {% if element.data.pluginConfig.showmeta %}
                    {% block blog_content_post_inner_meta %}
                        {% sw_include "@Storefront/storefront/page/blog/post-meta.html.twig" with { config: element.data.pluginConfig } %}
                    {% endblock %}
                {% endif %}

                {% if post.translated.teaser %}
                    {% block blog_content_post_inner_teaser %}
                        <div class="lead mt-3 mb-1">
                            {{ post.translated.teaser }}
                        </div>
                    {% endblock %}
                {% endif %}

                {% block blog_content_post_inner_more %}
                    <a href="{{ postDetailUrl }}"
                       class="btn btn-outline-primary btn-sm mt-2">
                        {{ "netzp.blog.msg.more"|trans }}
                    </a>
                {% endblock %}
            </div>
        {% endblock %}

        {% block blog_content_post_inner_image %}
            <div class="ms-0 ms-sm-auto p-0">
                {% set image = null %}
                {% if post.imagepreview %}
                    {% set image = post.imagepreview %}
                {% elseif post.image %}
                    {% set image = post.image %}
                {% endif %}

                {% if image %}
                    {% set thumbnailClass = element.config.imageMode.value == "contain" ? "contain" : "cover" %}
                    <a href="{{ postDetailUrl }}">
                        {% if image.mediaType.name == 'IMAGE' %}
                            {% sw_thumbnails 'blog_list_image_thumbnail' with {
                                media: image,
                                attributes: {
                                    'class': 'img-fluid ' ~ thumbnailClass,
                                    'alt':   image.translated.alt ?: '',
                                    'title': post.translated.title ?: ''
                                }
                            } %}
                        {% elseif image.mediaType.name == 'VIDEO' %}
                            <video class="video {{ thumbnailClass }}" controls>
                                <source src="{{ image.url }}" type="{{ image.mimetype }}">
                                Your browser does not support HTML5 video.
                            </video>
                        {% endif %}
                    </a>
                {% endif %}
            </div>
        {% endblock %}
    </div>
{% endblock %}

