{% block element_mainhattan_three_card %}
    {% set config = element.translated.config %}
    {% set slotData = element.data ?? {} %}
    {% set defaultImages = [
        asset('bundles/mainhattanwheels/storefront/default-cms-icons/layer-1.svg'),
        asset('bundles/mainhattanwheels/storefront/default-cms-icons/frame.svg'),
        asset('bundles/mainhattanwheels/storefront/default-cms-icons/group.svg')
    ] %}
    {% set cards = [
        {
            media: slotData.cardOneImage ?? null,
            fallbackImage: defaultImages[0],
            title: config.cardOneTitle.value,
            description: config.cardOneDescription.value,
            buttonText: config.cardOneButtonText.value,
            buttonLink: config.cardOneButtonLink.value
        },
        {
            media: slotData.cardTwoImage ?? null,
            fallbackImage: defaultImages[1],
            title: config.cardTwoTitle.value,
            description: config.cardTwoDescription.value,
            buttonText: config.cardTwoButtonText.value,
            buttonLink: config.cardTwoButtonLink.value
        },
        {
            media: slotData.cardThreeImage ?? null,
            fallbackImage: defaultImages[2],
            title: config.cardThreeTitle.value,
            description: config.cardThreeDescription.value,
            buttonText: config.cardThreeButtonText.value,
            buttonLink: config.cardThreeButtonLink.value
        }
    ] %}

    <section class="cms-element-mainhattan-three-card">
        {% if config.heading.value %}
            <header class="cms-element-mainhattan-three-card__header">
                <h2 class="cms-element-mainhattan-three-card__heading">{{ config.heading.value }}</h2>
            </header>
        {% endif %}

        <div class="cms-element-mainhattan-three-card__grid">
            {% for card in cards %}
                <article class="cms-element-mainhattan-three-card__card">
                    <div class="cms-element-mainhattan-three-card__card-inner">
                        <div class="cms-element-mainhattan-three-card__glow"></div>

                        <div class="cms-element-mainhattan-three-card__media">
                            {% set media = card.media is defined and card.media.id is defined ? card.media : null %}

                            {% if media %}
                                {% sw_thumbnails 'cms-element-mainhattan-three-card-thumbnails' with {
                                    media: media,
                                    sizes: {
                                        default: '44px'
                                    },
                                    attributes: {
                                        class: 'cms-element-mainhattan-three-card__image',
                                        alt: media.translated.alt ?: card.title ?: '',
                                        title: media.translated.title ?: card.title ?: '',
                                        loading: 'lazy'
                                    }
                                } %}
                            {% else %}
                                <img
                                    class="cms-element-mainhattan-three-card__image"
                                    src="{{ card.fallbackImage }}"
                                    alt="{{ card.title ?: '' }}"
                                    loading="lazy"
                                >
                            {% endif %}
                        </div>

                        {% if card.title %}
                            <h3 class="cms-element-mainhattan-three-card__title">{{ card.title }}</h3>
                        {% endif %}

                        {% if card.description %}
                            <div class="cms-element-mainhattan-three-card__description">
                                {{ card.description|raw }}
                            </div>
                        {% endif %}

                        {% if card.buttonText and card.buttonLink %}
                            <div class="cms-element-mainhattan-three-card__actions">
                                <a
                                    href="{{ card.buttonLink }}"
                                    class="btn cms-element-mainhattan-three-card__button"
                                >
                                    {{ card.buttonText }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </article>
            {% endfor %}
        </div>
    </section>
{% endblock %}
