{% block blog_content_post_wrapper %}
<div class="row mb-5">
    {% block blog_content_post_inner_wrapper %}
    <div class="col-md-8">
        {% if config.showmeta %}
            {% sw_include "@Storefront/storefront/page/blog/post-meta.html.twig" %}
        {% endif %}

        {% block blog_content_post_inner_title %}
            <h2>{{ post.translated.title }}</h2>
        {% endblock %}

        {% block blog_content_post_inner_contents %}
            {{ render_blog_listing_template(post.translated.contents, post)|raw }}
        {% endblock %}

        {% block blog_content_post_inner_author %}
            {% if config.showmeta and config.showauthor %}
                {% sw_include "@Storefront/storefront/page/blog/post-author.html.twig" %}
            {% endif %}
        {% endblock %}
    </div>
    {% endblock %}

    {% if post.image %}
        {% block blog_content_post_inner_image %}
            <div class="col-md-4 mt-3 mt-md-0">
                {% if post.image.mediaType.name == 'IMAGE' %}
                    {% sw_thumbnails 'blog_small_image_thumbnail' with {
                        media: post.image,
                        attributes: {
                            'class': 'img-fluid',
                            'alt':   post.image.translated.alt ?: '',
                            'title': post.translated.title ?: ''
                        }
                    } %}
                {% elseif post.image.mediaType.name == 'VIDEO' %}
                    <video class="card-img-top {{ thumbnailClass }}" controls>
                        <source src="{{ post.image.url }}" type="{{ post.image.mimetype }}">
                        Your browser does not support HTML5 video.
                    </video>
                {% endif %}

            </div>
        {% endblock %}
    {% endif %}
</div>
{% endblock %}
